<!--<label class="custom_checkbox" data-bind="css: {'checked': checkAll, 'incomplete': checkAllIncomplite}">
	<span class="icon"></span>
	<input type="checkbox" data-bind="checked: checkAll" />
</label>-->
<!--<span class="search_block">
	<span class="input" data-bind="css: {'focus': isSearchFocused}">
		<span class="icon search" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEARCH'}, click: searchSubmitCommand"></span>
		<input class="field" type="text" data-bind="valueUpdate: 'afterkeydown', value: searchInput, onEnter: searchSubmitCommand, hasfocus: isSearchFocused" />
	</span>
</span>-->

<div class="searchbar searchbar-active" data-bind="css: {'searchbar-active': isSearchFocused}">
	<div class="searchbar-input">
		<input type="search" spellcheck="false" placeholder="Search" data-bind="value: searchInput, valueUpdate: 'afterkeydown', onEnter: searchSubmitCommand, hasfocus: isSearchFocused, i18n: {'key': 'COREWEBCLIENT/ACTION_SEARCH'}">
		<!--<a href="#" class="searchbar-clear"></a>-->
	</div>
	<a href="#" class="searchbar-cancel aurora-icons close" data-bind="css: {'show': !preLoadingList() && isSearch()} , click: onClearSearchClick"><span class="icon"></span></a>
	<!--i18n: {'key': 'COREWEBCLIENT/ACTION_CLEAR_SEARCH'},--> 
</div>

<div class="page-content">
	<div data-bind="visible: isEmptyList() && !preLoadingList()">
		<span class="list_notification" data-bind="visible: !isSearch()">
			<span class="description" data-bind="i18n: {'key': '%MODULENAME%/INFO_NO_CONTACTS'}"></span>
			<span class="description" data-bind="text: infoCreateOrImport, visible: isPersonalStorageSelected"></span>
			<span class="description" data-bind="i18n: {'key': '%MODULENAME%/INFO_DRAGNDROP_TO_GROUP'}, visible: visibleDragNDropToGroupText"></span>
		</span>
		<span class="list_notification" data-bind="visible: isSearch()">
			<!--<span class="link" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CLEAR_SEARCH'}, click: onClearSearchClick"></span>-->
			<span class="description" data-bind="i18n: {'key': '%MODULENAME%/INFO_NO_CONTACTS_FOUND'}"></span>
		</span>
	</div>

	<span class="list_notification" data-bind="visible: isEmptyList() && preLoadingList()" id="selenium_contacts_loading_info">
		<span class="description" data-bind="i18n: {'key': '%MODULENAME%/INFO_LOADING_CONTACT_LIST'}"></span>
	</span>

	<span class="list_notification" data-bind="visible: isSearch() && !isEmptyList()">
		<!--<span class="link" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CLEAR_SEARCH'}, click: onClearSearchClick"></span>-->
		<span class="description" data-bind="text: searchText"></span>
	</span>
	
	
	<div class="contact_list">
		<ul class="items_sub_list contact_sub_list mdc-list mdc-list--two-line mdc-list--avatar-list" data-bind="foreach: collection">
			<li class="item mdc-list-item" data-bind="css: {
						'checked': checked,
						/*'selected': selected,*/
						'deleted': deleted,
						'noname': !Name(),
						'noemail': !Email()}">
				<div class="mdc-list-item__start-detail">
					<div class="custom_checkbox mdc-checkbox">
						<input type="checkbox" class="mdc-checkbox__native-control" data-bind="checked: checked /*, event: { change: function (item, event) {item.checked(!!event.target.checked); } }*/" />
						<div class="mdc-checkbox__background">
							<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
								<path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
							</svg>
							<div class="mdc-checkbox__mixedmark"></div>
						</div>
					</div>
				</div>

				<span class="mdc-list-item__text">

					<span class="group" data-bind="visible: $parent.selectedStorage() === 'all' || $parent.selectedStorage() === 'group', css: sStorage"></span>

					<span class="name" data-bind="text: Name(), visible: !!Name()"></span>
					<span class="name" data-bind="i18n: {'key': '%MODULENAME%/LABEL_NO_NAME'}, visible: Name() === ''"></span>

					<span class="mdc-list-item__text__secondary">
						<span data-bind="text: Email(), visible: !!Email()"></span>
						<span data-bind="i18n: {'key': '%MODULENAME%/LABEL_NO_EMAIL'}, visible: Email() === ''"></span>
					</span>
				</span>
				<span class="mdc-list-item__end-detail" data-bind="visible: ItsMe(), i18n: {'key': '%MODULENAME%/LABEL_ITS_ME'}"></span>
			</li>
		</ul>
	</div>
</div>

<div class="panel_bottom unselectable" data-bind="visible: oPageSwitcher.pages().length > 0, template: {name: oPageSwitcher.ViewTemplate, data: oPageSwitcher}"></div>
